<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <header id="header">
    <h1><strong><a href="/">Pole</strong>Place</a></h1>
    <nav id="nav">
      <form action="/create">
      <button type="submit" class="btn btn-info">New Poll</button>
      </form>
    </nav>
  </header>

  <section id="main" class="wrapper">
  <div class="container">
  <header class="major special">
    <h2>Results for <i>"<%= votes[0].polldescription %>"</i> </h2>
    <p>
  </header>

  <div class="chart-container" style="position:relative">
  <canvas id="myChart"></canvas>
  <% const valueArray = Object.values(votesTotals) %>
  <% const labelArray = Object.keys(votesTotals) %>

  <script>
    var url = window.location.href;
    console.log(url);
    $.ajax({
      url: '/chart-data',
      method: 'POST',
      data: {url: url},
      success: function (data) {

    var ctx = document.getElementById('myChart').getContext('2d');
    const labelArray = Object.keys(data.votesTotals);
    const valueArray = Object.values(data.votesTotals);
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',
    // The data for our dataset
    data: {
      labels: labelArray,
      datasets: [{
        label: "Results",
        backgroundColor: [
        'rgb(0,165,187)',
        'rgb(32,178,170)',
        'rgb(152,251,152)',
        'rgb(0,250,154)',
        'rgb(0,255,255)',
        'rgb(65,105,225)',
        'rgb(46,139,87)',

        ],
        borderColor: 'rgb(255,255,255)',
        data: valueArray,
        }]
    },
    // Configuration options go here
    options: {responsive: true, maintainAspectRatio: false}
  });
  }
    });
  </script>
  </div>
  <section class="stats">
    <h3>Stats:</h3>

    <ul style="list-style-type:circle">
    <% for (let obj in votesTotals) { %>
    <li>"<%= obj %>" received <%= votesTotals[obj] %> points.</li>
    <% } %>
    <p>
    <hr />
    </ul>
    <p>
  </section>


  <p>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery.sortable.js"></script>
</body>
</html>
