<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

<body>

  <header id="header">
    <h1><strong><a href="/">Pole</strong>Place</a></h1>
    <nav id="nav">
      <form action="/create">
      <button type="submit" class="btn btn-info">New Poll</button>
      </form>
    </nav>
  </header>

  <section id="main" class="wrapper">
  <div class="container">
  <header class="major special">
    <h2>Results for <i>"<%= votes[0].polldescription %>"</i> </h2>
  </header>

  <section class="stats">
    <h3>Stats:</h3>
    <p>
    <ul style="list-style-type:circle">
    <% for (let obj in votesTotals) { %>
    <li>"<%= obj %>" received <%= votesTotals[obj] %> points.</li>
    <% } %>
    <p>
    </ul>
  <hr />
  </ul>
</section>

  <p><form id="deletePoll" action="/polls/:id/delete" method="POST">
  <button type="submit" class="btn btn-danger">Delete Poll</button>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery.sortable.js"></script>
</body>
</html>
