<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>

  </head>

  <body>
    <h1>Stats</h1>
      <span class="stats">There's gonna be stuff here later.</span>


    <% include ./partials/_bootstrap %>
  </body>
</html>
