<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

<body>

  <header id="header">
    <h1><strong><a href="/">Pole</strong>Place</a></h1>
  </header>

  <section id="main" class="wrapper">
  <div class="container">
  <header class="major special">
    <h2>Create New Poll</h2>
  </header>

  <section>
  <div class ="pollContainer">
  <form action="/polls" method="POST">
  <div class="12u$">
    <input name="pollQuestion" type="text" placeholder="Ask your question here">
  </div><p>

  <div class="row uniform 50%" id="createpoll">
  <div class="6u$ 12u$(xsmall)">
    <input name="opt1" type="text" placeholder="A worthy response to your question...">
  </div>
  <div class="6u$ 12u$(xsmall)">
    <input name="pollDescription1" type="text" placeholder="Add a description (optional)">
  </div>
  <div class="6u$ 12u$(xsmall)">
    <input name="opt2" type="text" placeholder="Another option...">
  </div>
    <div class="6u$ 12u$(xsmall)">
      <input name="pollDescription2" type="text" placeholder="Add a description (optional)">
  </div>
  <div class="6u$ 12u$(xsmall)">
    <input name="opt3" type="text" placeholder="Another option...">
  </div>
    <div class="6u$ 12u$(xsmall)">
      <input name="pollDescription3" type="text" placeholder="Add a description (optional)">
  </div>
  <div class="6u$ 12u$(xsmall)">
    <input name="opt4" type="text" placeholder="Another option...">
  </div>
    <div class="6u$ 12u$(xsmall)">
      <input name="pollDescription4" type="text" placeholder="Add a description (optional)">
  </div>
  </div><p>

  <p>Another option?</p>
  <div class="1u$ 6u$(xsmall)">
  <ul class="actions fit small">
     <li><button id="add-option" type="submit" class="button alt small">➕</a></li>
  </ul>
  </div><p>

  <div class="12u$">
    <input type="email" name="creatoremail" id="email" value="" placeholder="Email" />
  </div><p>
  </div>

  <div class="12u$">
  <ul class="actions">
    <li><button type="submit" class="btn btn-info" />Ask Question</li>
    <li><button type="reset" class="btn btn-danger" />Reset</li>
  </ul>

  </div>
  </div>
  </form>
  </section>
    <% include ./partials/_bootstrap %>
  </body>
</html>
