<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

<body id="background">
  <header id="header" class="alt">
    <% include ./partials/_header %>
  </header>
  <body class="landing">

    <!-- Banner -->
      <section id="banner">
        <h2>Why make your own decisions?</h2>
        <span class="summary"><p>Your personal opinon is irrelevant. Luckily PolePlace offers you a simple resource for generating custom polls to solve specific dilemmas. Ask something. Offer choices. Poll the people.</p>
        </span>
        <ul class="actions">
          <form action="/create">
          <li><button type="submit" class="btn btn-info">Get Started</a></li>
        </ul>
      </form>
      </section>
    <% include ./partials/_bootstrap %>
  </body>
</html>
