<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>

  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">PolePlace</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Why make your own decisions?</h1>
        <p class="lead">Your personal opinon is irrelevant. Luckily PolePlace offers you a simple resource for generating custom polls to solve specific dilemmas. Ask something. Offer choices. Poll the people.</p>
        <p class="lead">
          <a href="/create" class="btn btn-lg btn-info">Create Poll</a>
        </p>
      </main>

    </div>




    <% include ./partials/_bootstrap %>
  </body>
</html>
