<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>

  </head>

  <body>
    <h1>Question?</h1>
    <h2>description</h2>
    <div class ="listContainer">
      <form id="sendPoll" action="/poll/:id" method="post">
      <ul>
        <li>This</li>
        <li>is</li>
        <li>a</li>
        <li>sample</li>
        <li>list</li>
      </ul>
      Name: <input name="pollerName" type="text"><p><p>
      <input type="submit">
    </div>



    <% include ./partials/_bootstrap %>
  </body>
</html>
