<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

<body>

  <header id="header">
    <h1><strong><a href="/">Pole</strong>Place</a></h1>
  </header>

  <section id="main" class="wrapper">
  <div class="container">
  <header class="major special">
    <h2><%= thispoll[0].polldescription %></h2>
    <p>Drag and drop options to rank them from best to worst
  </header>

  <form id="send-vote" action="/polls/vote" method="post">
  <div class="pollList">
  <ul class="sortable">
    <% for (let i=0; i < thispoll.length; i++) { %>
    <li class="list-group-item"  draggable="true" value="<%= (thispoll.length - i) %>"><%= thispoll[i].title %></li>
    <% } %>
  </ul><p><p>
  </div>

  <!-- <div class="12u$">
    <input type="text" name="pollername" id="pollername" value="" placeholder="Enter your Name" />
  </div><p> -->

  <button class="btn btn-info" id="vote-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Submit
  </button>
 </form>
  <div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h6>Vote submitted. You're welcome.</h6>
    <h6>Your submission may have made a difference.</h6>
    <h3>Results</h3>
      <span class="results">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</span>
    <span class="resultLinks"></span>
  </div>
</div>
</div>
    <% include ./partials/_bootstrap %>
  </body>
</html>
